DATABASE_URL="mysql://avnadmin:PASSWORD@host:port/defaultdb?sslaccept=strict"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
ADMIN_EMAIL="ton-email@gmail.com"
